<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="MrAmlya">

    <title>QuickFood</title>
    
    <!-- Favicon -->
    <link href="#" rel="icon" type="image/png">
    <!-- Vendor -->
    <link rel="stylesheet" type="text/css" href="/static/webapp/vendor/%40fortawesome/fontawesome-pro/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;display=swap" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/static/webapp/css/appdcf1.css">

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MF4DZVH');</script>
<!-- End Google Tag Manager -->

</head>
<body>
    <div id="app">
                    <div class="modal fade fixed-right" id="modal-buy" tabindex="-1" role="dialog" aria-hidden="true">
</div>
    
        <!-- Header -->
        <header>
            <!-- Nav-->
            <nav class="navbar navbar-main navbar-expand-lg navbar-light bg-white border-bottom py-2 py-lg-1" id="navbar-main">
    <div class="container">

        <!-- Brand + Toggler (for mobile devices) -->
        <button class="navbar-toggler order-lg-2 ml-n4 ml-md-n3 text-left" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar nav -->
        <div class="collapse navbar-collapse navbar-collapse-overlay order-lg-3" id="navbar-main-collapse">
            <ul class="navbar-nav w-100 mx-lg-7 justify-content-between align-items-lg-center">
                                <li class="nav-item">
                    <a class="nav-link " href="#">
                        QuickFood
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Join Us(For Restaurants)
                    </a>
                </li>

                                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Support
                    </a>
                </li>
                <!-- User menu for smaller screens -->
                                                <li class="nav-item d-lg-none">
                    <a class="nav-link" href="#">
                        Create account
                    </a>
                </li>
                                <li class="nav-item d-lg-none">
                    <a class="nav-link" href="#">
                        Sign in
                    </a>
                </li>
                            </ul>
        </div>

    </div>
</nav>
        </header>

        
        <!-- Flash alerts -->
        
        <!-- Main -->
        <main>
            
    <!-- Info bar -->
<div class="py-2 border-bottom bg-translucent-white zindex-101" data-toggle="sticky" data-sticky-offset="0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-auto">
                <ul class="nav align-items-center">
                    <li class="nav-item">
                        <a href="#" class="h6 text-sm mb-0 pl-0 font-weight-bolder pr-4">QuickFood</a>
                    </li>
                </ul>
            </div>
            <div class="col d-none d-sm-block">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-sm" href="#overview" data-scroll-to data-scroll-to-offset="75">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-sm" href="#specs" data-scroll-to data-scroll-to-offset="75">Specifications</a>
                    </li>
                    <li class="nav-item">

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Product details -->
<section class="slice py-5 py-lg-6">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div>
                    <!-- Theme image -->
                    <img src="" alt="Purpose – Website UI Kit" class="img-fluid rounded-lg shadow">

                                                                            </div>
            </div>
            <div class="col-lg-6 pr-lg-5 order-lg-1">
                <h1 class="h2 mt-3 mb-0">
                    <strong>QuickFood</strong> – Never lets you down...
                </h1>
                <p class="lead my-3">
                    Feeling Hungry Register Now and Order Online.. <br>OR Be a Partner
                    Join Us Today
                    and
                    Increase Your Sale
                </p>
                <div class="mt-4">
                    <div class="mb-4">
                        <!-- Buy button -->
                        <a href="#" class="btn btn-primary rounded-pill btn-icon" data-toggle="tooltip" data-position="bottom" data-color="warning" title="You will be redirected to the Bootstrap Themes Marketplace." target="_blank">
                            <span class="btn-inner--icon"></span>
                            <span class="btn-inner--text">Join Us</span>
                        </a>
                        <a href="#" class="btn btn-primary rounded-pill btn-icon" data-toggle="tooltip" data-position="bottom" data-color="warning" title="You will be redirected to the Bootstrap Themes Marketplace." target="_blank">
                            <span class="btn-inner--icon"></span>
                            <span class="btn-inner--text">Register</span>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <hr class="my-0" />
</div>

<!-- Description -->
<section class="slice py-5 py-lg-6" id="overview">

    <!-- Containerr -->
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-lg-6 order-lg-2 ml-lg-auto">
                <span class="badge badge-dark badge-pill">About Purpose</span>
                <p class="lead lh-180 mt-4 mb-5">The main purpose of an online ordering system is to provide customers for a way to place an order at a restaurant over the internet. ... With a website or mobile app, customers can easily browse all the dishes the restaurant has available, customize dishes to their requirements and place an order.

                <!-- Meta -->


                            </div>
            <div class="col-lg-5 order-lg-1">
                <div class="row">
                    <div class="col-6">
                        <div class="card bg-dark shadow-lg rounded-lg border-0">
                            <div class="px-4 py-5 text-center">
                                <div class="h1 font-weight-bolder text-white mb-0">
                                    <span class="counter">65</span>
                                    <span class="counter-extra ml-n2"></span>
                                </div>
                                <h6 class="text-white">Restaurants</h6>
                            </div>
                        </div>
                        <div class="card shadow-lg rounded-lg border-0">
                            <div class="px-4 py-5 text-center">
                                <div class="h1 font-weight-bolder mb-0">
                                    <span class="counter">15</span>
                                    <span class="counter-extra ml-n2"></span>
                                </div>
                                <h6 class="text-dark">Cities</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 pt-lg-6">
                        <div class="card shadow-lg rounded-lg border-0">
                            <div class="px-4 py-5 text-center">
                                <div class="h1 font-weight-bolder mb-0">
                                    <span class="counter">300</span>
                                    <span class="counter-extra ml-n2"></span>
                                </div>
                                <h6 class="text-dark">Food Items</h6>
                            </div>
                        </div>
                        <div class="card bg-dark shadow-lg rounded-lg border-0">
                            <div class="px-4 py-5 text-center">
                                <div class="h1 font-weight-bolder text-white mb-0">
                                    <span class="counter">1</span>
                                    <span class="counter-extra ml-n2"></span>
                                </div>
                                <h6 class="text-white">Place</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <hr class="my-0" />
</div>

<!-- Screens -->




<div class="container">
    <hr class="my-0" />
</div>



        </main>

        <!-- Footer -->
        <div class="d-flex mt-4">
    <div class="mx-auto">
        <div class="carbon-js"></div>
    </div>
</div>
<footer id="footer-main">
    <div class="footer">
        <div class="mx-xl-9 footer-dark bg-dark-dark jumbotron pb-0 rounded-top-right mb-0">
            <div class="container pt-4">
                <div class="row">
                    <div class="col-lg-5 mb-5 mb-lg-0 order-lg-2">
                        <a class="footer-brand" href="#">
                            <div class="h1 font-weight-bolder text-white mb-0">
                                <span class="counter">QuickFood</span>
                                <span class="counter-extra ml-n2"></span>
                            </div>
                        </a>

                        <p class="text-sm mt-4 mb-4 d-none d-lg-block">
                            The main purpose of an online ordering system is to provide customers for a way to place an order at a restaurant over the internet. ... With a website or mobile app, customers can easily browse all the dishes the restaurant has available, customize dishes to their requirements and place an order.
                        </p>
                    </div>
                    <div class="col-lg-7 order-lg-1">
                        <div class="row">
                            
                            
                            <div class="col-6 col-sm-3">
                                <h6 class="heading mb-3">Social</h6>
                                <ul class="list-unstyled text-sm">
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-github mr-2"></i>Github
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-twitter mr-2"></i>Twitter
                                        </a>
                                    </li>
                                                                        <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-instagram mr-2"></i>Instagram
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-facebook mr-2"></i>Facebook
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-lg-none">
                    
                </div>
                <div class="row align-items-center justify-content-md-between py-3 mt-3 border-top border-dark">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <div class="copyright text-sm font-weight-bold text-center text-md-left">
                            &copy; 2020 <a href="https://amolbhadane.ml" class="font-weight-bold">MrAmlya</a>. All rights reserved.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav align-items-center justify-content-center justify-content-md-end">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Terms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pr-0" href="#">Cookies</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    </div>

    <!-- Scripts -->
    <script src="../../cdnjs.cloudflare.com/ajax/libs/canvg/1.4/rgbcolor.min.js"></script>
    <script src="../../m.servedby-buysellads.com/monetization.custom.js"></script>
    <script src="/static/webapp/js/app6432.js" defer></script>
</body>
</html>
